body{
  margin: 0px;
}

.contenedor_1 {
  margin-left: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

#luchosoft {
  margin-left: 8px;
  color: white
}

.centrar {
  align-items: flex-end;
  margin-left: 10px;
  margin-top: 18px;
  justify-content: center;
}

.parrafo1 {
  margin-right: -100px;
}


.barraPrincipal {
  display: flex;
  justify-content: space-between;
  background-color: #212233;  
  color: rgb(255, 255, 255);
  border-right: 1;

  height: 9vh;
}

.contenedor {
  display: flex;
}

.barraLateral {
  flex: 2;
  padding: 10px;
  height: 91vh;
  background-color: rgb(43, 46, 71); /* Nuevo color de fondo para la barra lateral */
  border-right: 1px solid #6d6d6d; /* Borde derecho */

}


.contenido {
  flex: 12;
  /* Ocupa 1/5 del ancho disponible */
  padding: 20px;
  color: rgb(0, 0, 0);
  border-left: 1px solid #6d6d6d;
  background-color: rgb(240, 240, 240);
}

/*Menu------------------------------------------------------------------------------------------------------------------*/

.sidebar {
  width: 200px;
  color: white;
}

.module {
  margin-bottom: 15px; /* Espacio entre módulos */
}

.module-heading {
  padding: 10px;
  cursor: pointer;
  background-color: #434865; /* Color de fondo */
  color: #fff; /* Color del texto */
  border-radius: 50px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
}


.module-heading:hover,
.module-heading.selected {
  background-color: #40455e; /* Color de fondo al pasar el mouse o seleccionado */
}
.options {
  list-style: none;

  display: none;
  
}

.options.active {
  display: block;
}

.options li {
  padding: 8px 15px;
  background-color: #434969; /* Color de fondo */
  color: #fff; /* Color del texto */
  border-radius: 50px; /* Bordes redondeados */
  margin-bottom: 5px; /* Espacio entre elementos */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave */
}

.options li:hover,
.options li.selected {
  background-color: #40455e;
}

.usuario-link img {
  margin-top: 8px;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.module-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  transition: transform 0.3s;
}

.module-heading.selected .arrow-icon {
  transform: rotate(90deg);
}

.yellow-underline {
  color: #FAC710;
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: black;
  /* Cambia el color del texto a negro */
  text-decoration: none;
  /* Elimina el subrayado del texto */
}


.boton {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.boton p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.iconosRojos {
  color: #E12424;
}

.iconosVerdes {
  color: #21d424;
}

.iconosNaranjas {
  color: #ffbd2f;
}

.iconosAzules {
  color: #1F67B9;
}

.iconosGris {
  color: #a3a3a3;
}


/* Estilo de las celdas de encabezado */
.tablaDT th {
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Estilo de las celdas de datos */
.tablaDT td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}